Circuit Agent Tools Agent/workflows/AgentTools|RecallAllMemoryFragments-12965933-731e-f111-8341-000d3a19bd5b/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr094_procurementAgent.shared_onedriveforbusiness.shared-onedriveforbu-d7a6c613-54b3-4683-a79c-dc48c74cbfaf"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Path",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "memories": {
                  "title": "Memories",
                  "x-ms-dynamically-added": true,
                  "type": "string",
                  "description": "A JSON formatted string containing an array of all memories located in the specifed Path."
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "memories": "[@{join(variables(\u0027memory\u0027), \u0027,\u0027)}]"
            }
          },
          "runAfter": {
            "For_Each_Memory_Fragment_Path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Get_Memory_Fragment_Paths": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs(\u0027Get_Memory_Fragment_Folder_Metadata\u0027)?[\u0027body/Id\u0027]"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "ListFolderV2",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Get_Memory_Fragment_Folder_Metadata": [
              "Succeeded"
            ]
          },
          "metadata": {
            "b!99z2TLbySUSLgi6CtD2_J3I6Oqtl2IlKswmHAOZuTXkH2cIqK1BqTqACqj8R31_G.0134JGRZ4TOMWDUSTD4NF2IQRXUR7QGA4V": "/RFP Research and Response",
            "b!99z2TLbySUSLgi6CtD2_J3I6Oqtl2IlKswmHAOZuTXkH2cIqK1BqTqACqj8R31_G.0134JGRZ5O6GOSSACDHZE3VI5JSMSCPRHU": "/RFP Research and Response",
            "operationMetadataId": "fc7ee95f-20ca-471c-bd64-544dbae42e72",
            "6e202211-2856-4d17-9ded-5beb8b8626b0": "/"
          }
        },
        "For_Each_Memory_Fragment_Path": {
          "type": "Foreach",
          "foreach": "@outputs(\u0027Get_Memory_Fragment_Paths\u0027)?[\u0027body/value\u0027]",
          "actions": {
            "Get_Memory_Fragment_File_Contents": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "path": "@items(\u0027For_Each_Memory_Fragment_Path\u0027)?[\u0027Path\u0027]",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "GetFileContentByPath",
                  "connectionName": "shared_onedriveforbusiness"
                }
              },
              "metadata": {
                "operationMetadataId": "16e9717a-1939-4def-96f8-3c4e397661fa"
              }
            },
            "Add_Memory_Fragment_Record_to_Memory_Table": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "memory",
                "value": "@outputs(\u0027Create_Memory_Fragment_Record\u0027)"
              },
              "runAfter": {
                "Create_Memory_Fragment_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1eb79577-6dd4-4f4b-9846-82efd0d18ebb"
              }
            },
            "Create_Memory_Fragment_Record": {
              "type": "Compose",
              "inputs": {
                "filename": "@{items(\u0027For_Each_Memory_Fragment_Path\u0027)?[\u0027Name\u0027]}",
                "lastmodified": "@{items(\u0027For_Each_Memory_Fragment_Path\u0027)?[\u0027LastModified\u0027]}",
                "parent": "@{items(\u0027For_Each_Memory_Fragment_Path\u0027)?[\u0027DisplayName\u0027]}",
                "path": "@{items(\u0027For_Each_Memory_Fragment_Path\u0027)?[\u0027Path\u0027]}",
                "content": "@{body(\u0027Get_Memory_Fragment_File_Contents\u0027)}"
              },
              "runAfter": {
                "Get_Memory_Fragment_File_Contents": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "caa01bcc-cd4b-43dd-bbb5-2d2ae9f98a07"
              }
            }
          },
          "runAfter": {
            "Get_Memory_Fragment_Paths": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db04bfef-b3bb-49ea-8823-d40751f36440"
          }
        },
        "Initialize_Memory_Fragments_Path": {
          "type": "InitializeVariable",
          "description": "Combine ROOT with incoming Path parameter.",
          "inputs": {
            "variables": [
              {
                "name": "memoryFragmentsPath",
                "type": "string",
                "value": "@variables(\u0027MEMORY_ROOT_PATH\u0027)"
              }
            ]
          },
          "runAfter": {
            "Initialize_Memory_Fragment_Table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9be18ba1-d11d-41ad-b26a-faea4bf7e5d1"
          }
        },
        "Initialize_Memory_Fragment_Table": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "memory",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_Memory_Root_Path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df3863a8-169f-4b13-bf3f-c95adac484b4"
          }
        },
        "Initialize_Memory_Root_Path": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MEMORY_ROOT_PATH",
                "type": "string",
                "value": "@triggerBody()?[\u0027text\u0027]"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d27700d9-b09c-4fd6-9d4f-cba6af93b0be"
          }
        },
        "Get_Memory_Fragment_Folder_Metadata": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "@variables(\u0027memoryFragmentsPath\u0027)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "GetFileMetadataByPath",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Initialize_Memory_Fragments_Path": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}